@use 'variables' as *;
@use 'mediaQueries' as *;

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
            flex-direction: column;
    }
    
    .fas {
        transform: scale(1.2);
        color: $darkGreyFont1;
        rotate: 10deg;
        margin: 0 12%;
        @include tablet {
            opacity: 0;
        }
    }
    
    .label {
        height: 35px;
        width: 70px;
        border-radius: 50px;
        background-color: $lightGreyFont1;
        display: flex;
        align-items: center;
        position: relative;
        right: 50px;
        @include tablet {
            opacity: 0;
        }
    }

    .checkbox {
        opacity: 0;
        position: absolute;
        @include tablet {
            opacity: 0;
        }
    }

    .ball {
        background-color: $darkGreyFont1;
        position: absolute;
        top: 3.5px;
        left: 5px;
        height: 28px;
        width: 30px;
        border-radius: 50%;
        transition: transform 0.2s linear;
        @include tablet {
            opacity: 0;
        }
    }

    .checkbox:checked+.label .ball {
        transform: translateX(31px);
    }
}

@include tablet {
    .navLinks {
        transform: translateY(-260%);
        transition: transform 0.5s ease-in-out;
    }  
    
    .navLinks.active {
        display: flex;
        width: 80vw;
        transform: translateY(0%);
        margin-left: auto;
    }
}

.navLinks ul {
    margin-left: -15%;
    padding: 0;
    display: flex;
    @include tablet {
        flex-direction: column;
        width: 100vw;
        background-color: #49734965;
    }
}

.navLinks li {
    list-style-type: none;
    margin-top: 1%;
    background-color:transparent;
    @include tablet {
        text-align: center;
        width: 100%;
        margin: -2%;
    }
}


.navLinks li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-size: 1.3rem;
    font-family: $quicksand;
    color: $darkGreyFont1;
    background-color: transparent;
}

.logo {
    max-width: 100%;
    img {
        max-width: 30%;
        margin: 2%;
        opacity: 1;
        filter: contrast(20%);
    }
}

.toggleButton {
    top: 10%;
    right: 13%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 26px;
    position: absolute;
    @include tablet {
        display: flex;
        top: 5%;
        right: 13%;
        position: absolute;
    }
}

.burger div {
    height: 3px;
    margin: 5px;
    width: 100%;
    background-color: $darkGreyFont1;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.toggle .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bar2 {
    opacity: 0;
}

.toggle .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}