@use 'variables' as *;

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navLinks li {
    list-style-type: none;
    margin-top: 1%;
    background-color:transparent;
}

.navLinks li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-size: 1.3rem;
    font-family: $quicksand;
    color: $darkGreyFont1;
    background-color: transparent;
}

.logo {
    max-width: 100%;
    img {
        max-width: 30%;
        margin: 2%;
        opacity: 1;
        filter: contrast(35%);
    }
}

.toggleButton {
    top: 10%;
    right: 13%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 26px;
    position: absolute;
}

.burger div {
    height: 3px;
    margin: 5px;
    width: 100%;
    background-color: $darkGreyFont1;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.toggle .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bar2 {
    opacity: 0;
}

.toggle .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}