@use 'variables' as *;
@use 'mediaQueries' as *;

.glitch {
    margin-left: 1%;
}

.h1,
.glitch {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 5px;
    margin-top: 15%;
    @include tablet {
        font-size: 3rem;
        margin-top: 18%;
    }

    @include mobile {
        font-size: 2rem;
        margin-top: -8%;
    }
}

h2.titles {
    margin: 20% 0 5% 0;
    text-align: left;
    font-size: 3rem;
    color: $lightGreyFont1;
    width: 100%;
    @include mobile {
        font-size: 1.5rem;
        // padding-top: 35%;
    }

    @include tablet {
        font-size: 2rem;
    }
}

.skillsIcons ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    margin-left: 2%;
    width: 100%;
    li {
        margin: 7% 9% 6% 0;
        color: $darkGreyFont1;
        text-align: center;

        i {
            padding-bottom: 15%;
            transform: scale(4);

            @include tablet {
                    transform: scale(2);
                    margin-left: -1%;
            }
            @include mobile {
                transform: scale(1.5);
            }
       }

       p {
            @include mobile {
                font-size: .6rem;
            }
       }

        .fa-square-js {
                margin: 3% 0% 0% 0%;
        }
        
        p.square-js {
            margin: 16% 0% 0% 0%;
        }
    
        .iconify {
            transform: scale(4);
            margin: -15% 0% 15% 0%;
            @include tablet {
                transform: scale(2);
            }
            @include mobile {
                transform: scale(1.5);
            }

        }

        p.figma {
            margin: 50% 0% 0% 0%;
            @include tablet {
                margin: 54% 0% 0% 0%;
            }
        }

        p.trello {
            margin: 60% 0% 0% -14%;
        }

        p.firebase {
            margin: 41% 0% 0% -5%;
            @include mobile {
                    margin: 35% 0% 0% -5%;
                }
        }
     }
}

// about section
.aboutSection {
    display: flex;
    flex-wrap: wrap;
    @include tablet {
        flex-direction: column;
    }
}

.aboutImgDark {
    width: 40%;
    height: 40%;
    img {
        border-radius: 5%;
        width: 100%;

        @include tablet {
            transform: scale(1.6);
            margin: 30% 80%;
        }
    }
}

.aboutImgLight {
    display: none;
}

.aboutText {
    text-align: right;
    width: 60%;
    float: right;
    padding: 0% 0% 0% 5%;
    @include tablet {
    p {
        font-size: 1rem;
    }
        text-align: center;
        width: 100%;
    }
}

.socialIcons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 6%;
    
    i {
    transform: scale(3);
    margin-left: 15%;
    margin-right: 25%;
    color: $darkGreyFont1; 
    @include tablet {
        transform: scale(1.5);
    }
    }

    i:hover {
        color: $brightGreen;
    }
}


// footer
footer {
    text-align: center;
    margin-top: 10%;
    @include tablet {
        transform: scale(.6);
        margin-bottom: -10%;
    }
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 20px;
    width: 70px;
    height: 70px;
    background-color: $lightBackground;
    color: rgb(89, 50, 116);
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    border-radius: 20%;
    @include tablet {
        transform: scale(.5);
        right: 5px;
    }
}

#backToTopBtn:hover {
    background-color: $brightGreen;
    color: $lightBackground;
}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} 

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} 
