@use 'variables' as *;

@media (max-width: 1200px) {
    .h1 {
        margin-top: 30%;
    }
}

@media (max-width: 900px) {
    .logo {
        width: 100%;

        img {
            max-width: 30%;
            margin-top: 5%;
            }
    }

    body p {
        font-size: .8rem;
    }

    .h1 {
        margin-top: 45%;
    }

    .h1,
    .glitch {
        font-size: 3rem;
    }

    .skills {
        padding-top: 40%;
    }

    .skillsIcons i {
        transform: scale(2);
    }

    .socialIcons i {
        transform: scale(2);
    }

    .label {
        bottom: 110px;
    }
}

@media (max-width: 700px) {
    body {
        overflow-x: hidden;
    }

    .h1 {
        margin-top: 2%;
    }

    .toggleButton {
        display: flex;
        top: 9%;
        right: 13%;
        position: absolute;
    }

    .navBar {
        flex-direction: column;
        align-items: center;
    }

    .navLinks {
        transform: translateY(-260%);
        transition: transform 0.5s ease-in-out;
    }   

    .navLinks ul {
        flex-direction: column;
        width: 100vw;
        background-color: #49734965;
    }

    .navLinks li {
        text-align: center;
        width: 100%;
        margin: -2%;
    }

    .navLinks.active {
        display: flex;
        width: 100vw;
        transform: translateY(0%);
    }

 .oneMag,
 .underSea,
 .makeWok {
    text-align: center;
        img {
            display: none;
        }

        p {
            padding-bottom: 5%;
            text-align: center;
        }
    }
    .skills {
        padding-top: 50%;
    }

    .skillsIcons {
        margin-left: 16%;
    }

    .label {
        left: 95%;
    }
}



@media (max-width: 590px) {
    .toggleButton {
       top: 8%;
    }

    .label {
        bottom: 100px;
        left: 90%;
    }

    .skills {
        padding-top: 70%;
    }

    .skillsIcons {
        margin-left: 18%;
    }

    h2.titles {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    .h1,
    .glitch {
        font-size: 2rem;
    }

    .aboutText {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .skillsIcons i {
        transform: scale(1.5);
        margin-right: 13%;
    }

    .label {
        bottom: 100px;
        left: 85%;
    }
}

@media (max-width: 500px) {
    .toggleButton {
            top: 7%;
    }
    .label {
        bottom: 60px;
        left: 90%;
    }
    
    #startStop {
        display: none;
    }

    #glitchBtn,
    #glitchBtn2 {
        opacity: 0;
    }

    .label {
        transform: scale(.5);
        bottom: 48px;
        left: 85%;
    }
}

@media (max-width: 450px) {
    .h1 {
        padding-top: 50%;
    }

    .h1,
    .glitch {
        font-size: 1.5rem;
    }
    .toggleButton {
        top: 6%;
    }
    .label {
        transform: scale(.5);
        bottom: 44px;
        left: 85%;
    }
}


@media (max-width: 350px) {
    .label {
        bottom: 40px;
    }

    .toggleButton {
        top: 4%;
    }
}