@use 'variables' as *;

.oneMag,
.underSea,
.makeWok {
    color: $lightGreyFont1;
    display: flex;
    padding: 3% 0%;
    
    p {
        text-align: left;
        max-width: 70%;
    }

    img {
        margin-left: -5%;
        max-width: 50%;
        justify-content: end;
        margin-top: -1%;
        align-content: center;
    }
    
    a {
        text-align: center;
        text-decoration: none;
    }

    h3 {
        color: $darkGreyFont1;
    }
}

.coloumn {
     flex-direction: column;
     width: 100%;
 }

