@use 'variables' as *;
@use 'mediaQueries' as *;

.refVer,
.underSea,
.makeWok {
    color: $lightGreyFont1;
    display: flex;
    padding: 3% 0%;
    @include tablet {
        h3 {
            font-size: 1rem;
            text-align: center;
        }
        img {
            display: none;
        }
    }

    p {
        text-align: left;
        max-width: 70%;
        @include tablet {
            font-size: 1rem;
            max-width: 100%;
            text-align: center;
        }
    }

    img {
        margin-left: -5%;
        max-width: 50%;
        justify-content: end;
        margin-top: -1%;
        align-content: center;
    }
    
    a {
        text-align: center;
        text-decoration: none;
    }

    h3 {
        color: $darkGreyFont1;
    }
}

.coloumn {
     flex-direction: column;
     width: 100%;
     @include tablet {
        flex-direction: row;
     }
 }

