@use 'variables' as *;
@use 'mediaQueries' as *;

body {
    overflow-x: hidden;
    background-color: $backgroundColor;
    transition: background 1s ease;
    color: $darkGreyFont1;
    .navLinks li a:hover {
            color: $brightGreen;
        }
    
    h1 {
        font-family: $quicksand;
    }

    h2,
    h3,
    p {
        font-family: $doris;
    }

    p {
        font-size: 1.2rem;
    }
    
}

body.light {
    background-color: $lightBackground;
    transition: background 1s ease;
    color: $darkGreyFont2;

    h3 {
        color: $darkGreyFont2;
    }

    .navLinks li a {
        color: $lightGreyFont2;
    }

    .navLinks li a:hover {
        color: $darkGreyFont2;
    }

    .burger div {
        background-color: $lightGreyFont2;
    }

    .fas {
        color: $darkGreyFont1;
    }

    .label {
        background-color: $darkGreyFont2;
    }

    .btn, 
    .gitLink,
    .liveLink {
        color: $darkGreyFont2;
    }

    .enoughBtn:before,
    .enoughBtn:after,
    .gitButt:before,
    .gitButt:after,
    .liveButt:before,
    .liveButt:after {
        border: none;
        background: rgb(89, 50, 116);
    }

    .enoughBtn span:hover,
    .gitButt span:hover,
    .liveButt span:hover {
        color: rgb(89, 50, 116);
        border: none;
    }

    .enoughBtn span:before,
    .enoughBtn span:after,
    .gitButt span:before,
    .liveButt span:before,
    .gitButt span:after,
    .liveButt span:after {
        border: none;
        background: rgb(89, 50, 116);
    }

    .glitch {
        color: $lightGreyFont2;
    }

    .skillsIcons ul li {
        color: $darkGreyFont2;
    }

    .socialIcons i {
        color: $lightGreyFont2;
    }

    .socialIcons i:hover {
        color: rgb(89, 50, 116);
    }
    
    .aboutImgDark {
        display: none;
    }

    .aboutImgLight {
        display: revert;
        width: 40%;
        height: 40%;
        img {
                border-radius: 5%;
                width: 100%;
            }
        @include tablet {
            transform: scale(1.6);
            margin: 20% 35%;
        }
    }

    #backToTopBtn {
        background-color: $lightGreyFont2;
        color: rgb(89, 50, 116);
        cursor: pointer;
        outline: none;
        border: 3px solid black;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;
        border-radius: 20%;
    }

    #backToTopBtn:hover {
        background-color: rgb(89, 50, 116);
        color: $lightBackground;
    }

}
