$doris: 'Dosis', sans-serif;
$quicksand: 'Quicksand', sans-serif;
// $quicksand: 'Darker Grotesque',
//     sans-serif;
$lightBackground: rgb(217, 197, 160);

// dark mode
$backgroundColor: #0d1f11;
$darkGreyFont1: rgb(122, 122, 122);
$lightGreyFont1:rgb(210, 210, 210);
 


// light mode
$lightBackground: #fdead7;
$lightGreyFont2: rgb(115, 115, 115);
$darkGreyFont2: rgb(15, 15, 15);
