body {
  overflow-x: hidden;
  background-color: #0d1f11;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  color: rgb(167, 167, 167);
}
body .navLinks li a:hover {
  color: rgb(49, 158, 16);
}
body h1 {
  font-family: "Quicksand", sans-serif;
}
body h2,
body h3,
body p {
  font-family: "Dosis", sans-serif;
}
body p {
  font-size: 1.2rem;
}

body.light {
  background-color: #cfe8b5;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  color: rgb(15, 15, 15);
}
body.light .logo img {
  opacity: 0.5;
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
body.light h3 {
  color: rgb(15, 15, 15);
}
body.light .navLinks li a {
  color: rgb(115, 115, 115);
}
body.light .navLinks li a:hover {
  color: rgb(15, 15, 15);
}
body.light .burger div {
  background-color: rgb(115, 115, 115);
}
body.light .fas {
  color: rgb(167, 167, 167);
}
body.light .label {
  background-color: rgb(15, 15, 15);
}
body.light .btn,
body.light .gitLink,
body.light .liveLink {
  color: rgb(15, 15, 15);
}
body.light .enoughBtn:before,
body.light .enoughBtn:after,
body.light .gitButt:before,
body.light .gitButt:after,
body.light .liveButt:before,
body.light .liveButt:after {
  border: none;
  background: rgb(89, 50, 116);
}
body.light .enoughBtn span:hover,
body.light .gitButt span:hover,
body.light .liveButt span:hover {
  color: rgb(89, 50, 116);
  border: none;
}
body.light .enoughBtn span:before,
body.light .enoughBtn span:after,
body.light .gitButt span:before,
body.light .liveButt span:before,
body.light .gitButt span:after,
body.light .liveButt span:after {
  border: none;
  background: rgb(89, 50, 116);
}
body.light .glitch {
  color: rgb(115, 115, 115);
}
body.light .skillsIcons ul li {
  color: rgb(15, 15, 15);
}
body.light .socialIcons i {
  color: rgb(115, 115, 115);
}
body.light .socialIcons i:hover {
  color: rgb(89, 50, 116);
}
body.light .aboutImgDark {
  display: none;
}
body.light .aboutImgLight {
  display: revert;
  width: 40%;
  height: 40%;
}
body.light .aboutImgLight img {
  border-radius: 5%;
  width: 100%;
}
body.light #backToTopBtn {
  background-color: rgb(115, 115, 115);
  color: rgb(89, 50, 116);
  cursor: pointer;
  outline: none;
  border: 3px solid black;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  border-radius: 20%;
}
body.light #backToTopBtn:hover {
  background-color: rgb(89, 50, 116);
  color: #cfe8b5;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 750px) {
  .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.navBar .fas {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: rgb(167, 167, 167);
  rotate: 10deg;
  margin: 0 12%;
}
@media (max-width: 750px) {
  .navBar .fas {
    opacity: 0;
  }
}
.navBar .label {
  height: 35px;
  width: 70px;
  border-radius: 50px;
  background-color: rgb(104, 103, 103);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 50px;
}
@media (max-width: 750px) {
  .navBar .label {
    opacity: 0;
  }
}
.navBar .checkbox {
  opacity: 0;
  position: absolute;
}
@media (max-width: 750px) {
  .navBar .checkbox {
    opacity: 0;
  }
}
.navBar .ball {
  background-color: rgb(167, 167, 167);
  position: absolute;
  top: 3.5px;
  left: 5px;
  height: 28px;
  width: 30px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
@media (max-width: 750px) {
  .navBar .ball {
    opacity: 0;
  }
}
.navBar .checkbox:checked + .label .ball {
  -webkit-transform: translateX(31px);
          transform: translateX(31px);
}

@media (max-width: 750px) {
  .navLinks {
    -webkit-transform: translateY(-260%);
            transform: translateY(-260%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .navLinks.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-left: auto;
  }
}
.navLinks ul {
  margin-left: -15%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 750px) {
  .navLinks ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    background-color: rgba(73, 115, 73, 0.3960784314);
  }
}

.navLinks li {
  list-style-type: none;
  margin-top: 1%;
  background-color: transparent;
}
@media (max-width: 750px) {
  .navLinks li {
    text-align: center;
    width: 100%;
    margin: -2%;
  }
}

.navLinks li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  font-size: 1.3rem;
  font-family: "Quicksand", sans-serif;
  color: rgb(167, 167, 167);
  background-color: transparent;
}

.logo {
  max-width: 100%;
}
.logo img {
  max-width: 30%;
  margin: 2%;
  opacity: 1;
  -webkit-filter: contrast(20%);
          filter: contrast(20%);
}

.toggleButton {
  top: 10%;
  right: 13%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 26px;
  position: absolute;
}
@media (max-width: 750px) {
  .toggleButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 5%;
    right: 13%;
    position: absolute;
  }
}

.burger div {
  height: 3px;
  margin: 5px;
  width: 100%;
  background-color: rgb(167, 167, 167);
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bar2 {
  opacity: 0;
}

.toggle .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1260px;
  width: 93%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

.glitch {
  margin-left: 1%;
}

.h1,
.glitch {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 5px;
  margin-top: 15%;
}
@media (max-width: 750px) {
  .h1,
.glitch {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  .h1,
.glitch {
    font-size: 2rem;
    margin-top: 5%;
  }
}

h2.titles {
  margin: 0% 0 5% 0;
  padding-top: 20%;
  text-align: left;
  font-size: 3rem;
  color: rgb(104, 103, 103);
  width: 100%;
}
@media (max-width: 480px) {
  h2.titles {
    font-size: 1.5rem;
    padding-top: 35%;
  }
}
@media (max-width: 750px) {
  h2.titles {
    font-size: 2rem;
  }
}

.skillsIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 2%;
}
.skillsIcons ul li {
  margin: 7% 9% 6% 0;
  color: rgb(167, 167, 167);
  text-align: center;
}
.skillsIcons ul li i {
  padding-bottom: 15%;
  -webkit-transform: scale(4);
          transform: scale(4);
}
@media (max-width: 750px) {
  .skillsIcons ul li i {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
.skillsIcons ul li .fa-square-js {
  margin: 3% 0% 0% 0%;
}
.skillsIcons ul li p.square-js {
  margin: 16% 0% 0% 0%;
}
.skillsIcons ul li .iconify {
  -webkit-transform: scale(4);
          transform: scale(4);
  margin: -15% 0% 15% 0%;
}
@media (max-width: 750px) {
  .skillsIcons ul li .iconify {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
.skillsIcons ul li p.figma {
  margin: 50% 0% 0% 0%;
}
@media (max-width: 750px) {
  .skillsIcons ul li p.figma {
    margin: 54% 0% 0% 0%;
  }
}
.skillsIcons ul li p.trello {
  margin: 60% 0% 0% -14%;
}
@media (max-width: 480px) {
  .skillsIcons ul li p.trello {
    margin: 52% 0% 0% 0%;
  }
}
.skillsIcons ul li p.firebase {
  margin: 41% 0% 0% -5%;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#about h2 {
  padding-bottom: 3%;
}
@media (max-width: 750px) {
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutImgDark {
  width: 40%;
  height: 40%;
}
.aboutImgDark img {
  border-radius: 5%;
  width: 100%;
}
@media (max-width: 750px) {
  .aboutImgDark img {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    margin: 30% 80%;
  }
}

.aboutImgLight {
  display: none;
}

.aboutText {
  text-align: right;
  width: 60%;
  float: right;
  padding: 0% 0% 0% 5%;
}
@media (max-width: 750px) {
  .aboutText {
    text-align: center;
    width: 100%;
  }
  .aboutText p {
    font-size: 1rem;
  }
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 6%;
}
.socialIcons i {
  -webkit-transform: scale(3);
          transform: scale(3);
  margin-left: 15%;
  margin-right: 25%;
  color: rgb(167, 167, 167);
}
@media (max-width: 750px) {
  .socialIcons i {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.socialIcons i:hover {
  color: rgb(49, 158, 16);
}

footer {
  text-align: center;
  margin-top: 10%;
}
@media (max-width: 750px) {
  footer {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin-bottom: -10%;
  }
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
  font-size: 20px;
  width: 70px;
  height: 70px;
  background-color: #cfe8b5;
  color: rgb(89, 50, 116);
  cursor: pointer;
  outline: none;
  border: 3px solid black;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  border-radius: 20%;
}
@media (max-width: 750px) {
  #backToTopBtn {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    right: 5px;
  }
}

#backToTopBtn:hover {
  background-color: rgb(49, 158, 16);
  color: #cfe8b5;
}

.btnEntrance {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
          animation-name: btnEntrance;
}

@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}
.btnExit {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnExit;
          animation-name: btnExit;
}

@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
}
.btn {
  width: 150px;
  height: 40px;
  color: rgb(167, 167, 167);
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
@media (max-width: 750px) {
  .btn {
    font-size: 0.6rem;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.enoughBtn {
  width: 150px;
  height: 44px;
  line-height: 42px;
  padding: 0;
  border: none;
  margin-left: -1%;
}
@media (max-width: 750px) {
  .enoughBtn {
    margin-left: -6%;
  }
}

.enoughBtn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(167, 167, 167);
}

.enoughBtn:before,
.enoughBtn:after {
  position: absolute;
  border: none;
  content: "";
  right: 0;
  top: 0;
  background: rgb(52, 163, 18);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.enoughBtn:before {
  height: 0%;
  width: 2px;
}

.enoughBtn:after {
  width: 0%;
  height: 2px;
}

.enoughBtn:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.enoughBtn:hover:before {
  height: 100%;
}

.enoughBtn:hover:after {
  width: 100%;
}

.enoughBtn span:hover {
  color: rgb(52, 163, 18);
  border: none;
}

.enoughBtn span:before,
.enoughBtn span:after {
  border: none;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(52, 163, 18);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.enoughBtn span:before {
  width: 2px;
  height: 0%;
}

.enoughBtn span:after {
  width: 0%;
  height: 2px;
}

.enoughBtn span:hover:before {
  height: 100%;
}

.enoughBtn span:hover:after {
  width: 100%;
}

.gitLink {
  width: 150px;
  height: 40px;
  color: rgb(167, 167, 167);
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-left: -2%;
}
@media (max-width: 750px) {
  .gitLink {
    font-size: 0.6rem;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.gitButt {
  width: 150px;
  height: 44px;
  line-height: 42px;
  padding: 0;
  border: none;
}
@media (max-width: 750px) {
  .gitButt {
    width: 100%;
    margin: 0 auto;
  }
}

.gitButt span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(167, 167, 167);
}

.gitButt:before,
.gitButt:after {
  position: absolute;
  border: none;
  content: "";
  right: 0;
  top: 0;
  background: rgb(52, 163, 18);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gitButt:before {
  height: 0%;
  width: 2px;
}

.gitButt:after {
  width: 0%;
  height: 2px;
}

.gitButt:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gitButt:hover:before {
  height: 100%;
}

.gitButt:hover:after {
  width: 100%;
}

.gitButt span:hover {
  color: rgb(52, 163, 18);
  border: none;
}

.gitButt span:before,
.gitButt span:after {
  border: none;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(52, 163, 18);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gitButt span:before {
  width: 2px;
  height: 0%;
}

.gitButt span:after {
  width: 0%;
  height: 2px;
}

.gitButt span:hover:before {
  height: 100%;
}

.gitButt span:hover:after {
  width: 100%;
}

.liveLink {
  width: 150px;
  height: 40px;
  color: rgb(167, 167, 167);
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
@media (max-width: 750px) {
  .liveLink {
    font-size: 0.6rem;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.liveButt {
  width: 150px;
  height: 44px;
  line-height: 42px;
  padding: 0;
  border: none;
}
@media (max-width: 750px) {
  .liveButt {
    width: 100%;
    margin: 0 auto;
  }
}

.liveButt span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(167, 167, 167);
}

.liveButt:before,
.liveButt:after {
  position: absolute;
  border: none;
  content: "";
  right: 0;
  top: 0;
  background: rgb(52, 163, 18);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.liveButt:before {
  height: 0%;
  width: 2px;
}

.liveButt:after {
  width: 0%;
  height: 2px;
}

.liveButt:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.liveButt:hover:before {
  height: 100%;
}

.liveButt:hover:after {
  width: 100%;
}

.liveButt span:hover {
  color: rgb(52, 163, 18);
  border: none;
}

.liveButt span:before,
.liveButt span:after {
  border: none;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(52, 163, 18);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.liveButt span:before {
  width: 2px;
  height: 0%;
}

.liveButt span:after {
  width: 0%;
  height: 2px;
}

.liveButt span:hover:before {
  height: 100%;
}

.liveButt span:hover:after {
  width: 100%;
}

.glitch {
  position: relative;
  color: rgb(160, 160, 160);
  text-transform: uppercase;
  margin-top: -5%;
  text-shadow: 0.05em 0 0 rgba(179, 43, 79, 0.626), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0 0.05em rgb(49, 0, 184);
  margin-bottom: 2%;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.span1.active {
  -webkit-animation: glitch 500ms infinite;
          animation: glitch 500ms infinite;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
          clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  -webkit-transform: translate(-0.05em, -0.025em);
          transform: translate(-0.05em, -0.025em);
  opacity: 0.5;
}

.span2.active {
  -webkit-animation: glitch 300ms infinite;
          animation: glitch 300ms infinite;
  -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
          clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  -webkit-transform: translate(0.05em, -0.025em);
          transform: translate(0.05em, -0.025em);
  opacity: 0.5;
}

.span1 {
  -webkit-animation: none;
          animation: none;
}

.span2 {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(138, 1, 1, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0 0.05em rgba(251, 168, 24, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(138, 1, 1, 0.75), -0.025em -0.05em 0 rgba(76, 0, 255, 0.75), 0.025em 0 0.05em rgba(251, 168, 24, 0.75);
  }
  15% {
    text-shadow: 0.05em 0 0 rgba(76, 0, 255, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0 0.05em rgba(76, 0, 255, 0.75);
  }
  49% {
    text-shadow: 0.05em 0 0 rgba(76, 0, 255, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0 0.05em rgba(76, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0 0 rgba(76, 0, 255, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0 0.05em rgba(251, 168, 24, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(76, 0, 255, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(251, 168, 24, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(138, 1, 1, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(251, 168, 24, 0.75);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(138, 1, 1, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0 0.05em rgba(251, 168, 24, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(138, 1, 1, 0.75), -0.025em -0.05em 0 rgba(76, 0, 255, 0.75), 0.025em 0 0.05em rgba(251, 168, 24, 0.75);
  }
  15% {
    text-shadow: 0.05em 0 0 rgba(76, 0, 255, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0 0.05em rgba(76, 0, 255, 0.75);
  }
  49% {
    text-shadow: 0.05em 0 0 rgba(76, 0, 255, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0 0.05em rgba(76, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0 0 rgba(76, 0, 255, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0 0.05em rgba(251, 168, 24, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(76, 0, 255, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(251, 168, 24, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(138, 1, 1, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(251, 168, 24, 0.75);
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0s !important;
            transition-duration: 0s !important;
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }
}
.refVer,
.underSea,
.makeWok {
  color: rgb(104, 103, 103);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3% 0%;
}
@media (max-width: 750px) {
  .refVer h3,
.underSea h3,
.makeWok h3 {
    font-size: 1rem;
    text-align: center;
  }
  .refVer img,
.underSea img,
.makeWok img {
    display: none;
  }
}
.refVer p,
.underSea p,
.makeWok p {
  text-align: left;
  max-width: 70%;
}
@media (max-width: 750px) {
  .refVer p,
.underSea p,
.makeWok p {
    font-size: 1rem;
    max-width: 100%;
    text-align: center;
  }
}
.refVer img,
.underSea img,
.makeWok img {
  margin-left: -5%;
  max-width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: -1%;
  -ms-flex-line-pack: center;
      align-content: center;
}
.refVer a,
.underSea a,
.makeWok a {
  text-align: center;
  text-decoration: none;
}
.refVer h3,
.underSea h3,
.makeWok h3 {
  color: rgb(167, 167, 167);
}

.coloumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media (max-width: 750px) {
  .coloumn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}